.footer {
    background-color: $orange;
    display: flex;
    flex-direction: column;
    padding: $footer-padding;

    &__socials {
        display: flex;
        justify-content: center;
    }

    @media (width > 1024px) {
        padding: $page-padding;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__socials {
            margin: $footer-margin-socials;
        }

        &__nav {
            margin-left: 25px;
            margin: $footer-margin-nav;
        }
    }
}