.header {
    background-color: $orange;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: $header-padding;
        font-size: 16px;

        &--text {
            @include titles;
        }
    }

    @media (width > 500px) {

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__title {
            justify-content: flex-start;
        }

        &__nav {
            max-width: 30%;
            margin-right: $header-margin;
        }
    }

    @media (width > 1024px) {
        padding: $page-padding;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__nav {
            max-width: 100%;
            flex-grow: 0.5;
        }

        &__title {
            margin-left: $header-margin;
        }
    }
}