.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: $font-main;
}

.main {
    overflow: auto;
    background-color: $light-gray;
}
