.navbar{
    width: 100%;
    display: flex;

    li {
        width: 100%;
    }

    @media (width > 500px) {
        flex-wrap: wrap;

        li {
            width: 50%;
        }
    }

    @media (width > 1024px) {
        flex-wrap: nowrap;
        li {
            width: 100%;
        }
    }
}

.ul-footer {
    @media (width > 500px) {
        flex-wrap: nowrap;

        li {
            width: 50%;
        }
    }
}
