.navbar{
    width: 100%;
    display: flex;

    li {
        width: 100%;
        animation: links-animation 0.6s forwards 1s;
    }

    li:nth-child(2) {
        animation-delay: 1.2s;
    }

    li:nth-child(3) {
        animation-delay: 1.4s;
    }

    li:nth-child(4) {
        animation-delay: 1.6s;
    }

    @media (width > 500px) {
        flex-wrap: wrap;

        li {
            width: 50%;
        }
    }

    @media (width > 1024px) {
        flex-wrap: nowrap;
        li {
            width: 100%;
        }
    }
}

@keyframes links-animation {
    0%{transform: scale(100%)}
    50%{transform: scale(115%)}
    100%{transform: scale(100%)}

    // 0%{transform: translateY(-10px)}
    // 50%{transform: translateY(10px)}
    // 80%{transform: translateY(0px)}
}

.ul-footer {
    @media (width > 500px) {
        flex-wrap: nowrap;

        li {
            width: 50%;
        }
    }
}
