// fonts
$font-titles: "Bebas Neue", sans-serif;
$font-main: "Karla", sans-serif;

// colors
$orange: #FF993E;
$green: #008000;
$black: black;
$white: white;
$gray: #D0D0D0;
$light-gray: #F0F0F0;
$links: #C0392B;
$links-hover: #E74C3C;
$socials: #874000;

// paddings
$page-padding: 0 6%;
$main-padding: 0 20px;
$aside-padding: 25px;
$footer-padding: 20px;
$link-padding: 15px;
$header-padding: 25px;
$article-padding: 20px 0;
$indent-padding: 0 40px 0 20px;

// margins desktop
$footer-margin-socials: 20px 25px 20px 0;
$footer-margin-nav: 20px 0 20px 25px;
$header-margin: 25px;