<footer class="footer">
  <nav class="footer__nav">
    <load src="/partials/navbar.html" ulClass="ul-footer" />
  </nav>
  <ul class="footer__socials">
    <li>
      <load src="/partials/link.html" 
      text="FB" 
      aClass="socials"
      url="#"  />
    </li>
    <li>
      <load src="/partials/link.html"
       text="TW"
       aClass="socials"
       url="#"  />
    </li>
    <li>
      <load 
      src="/partials/link.html"
      text="G+"
      aClass="socials"
      url="#"  />
    </li>
  </ul>
</footer>
