<ul class="navbar {=$ulClass}">
    <li>
      <load
       src="/partials/link.html"
       aClass="navlink"
       text="Link1"
       url="#" />
    </li>
    <li>
      <load
       src="/partials/link.html"
       aClass="navlink"
       text="Link2"
       url="#" />
    </li>
    <li>
      <load
       src="/partials/link.html"
       aClass="navlink"
       text="Link3"
       url="#" />
    </li>
    <li>
      <load
       src="/partials/link.html"
       aClass="navlink"
       text="Link4"
       url="#" />
    </li>
  </ul>